<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>QA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>broadServlet</servlet-name>
  	<servlet-class>com.hp.servlet.BroadServlet</servlet-class>
  </servlet>                 
  
  <servlet>
  	<servlet-name>empServlet</servlet-name>
  	<servlet-class>com.hp.servlet.EmpServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>fimlServlet</servlet-name>
  	<servlet-class>com.hp.servlet.FimlServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>fsortServlet</servlet-name>
  	<servlet-class>com.hp.servlet.FsortServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>hallServlet</servlet-name>
  	<servlet-class>com.hp.servlet.HallServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>salaServlet</servlet-name>
  	<servlet-class>com.hp.servlet.SalaServlet</servlet-class>
  </servlet>
  

  
   <servlet>
  	<servlet-name>userinfoServlet</servlet-name>
  	<servlet-class>com.hp.servlet.UserinfoServlet</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>profit</servlet-name>
  <servlet-class>com.hp.servlet.ProfitSerivce</servlet-class>
  </servlet>
  

  
  
  
  <servlet-mapping>
  	<servlet-name>broadServlet</servlet-name>
  	<url-pattern>/broadServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>empServlet</servlet-name>
  	<url-pattern>/empServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>fimlServlet</servlet-name>
  	<url-pattern>/fimlServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>fsortServlet</servlet-name>
  	<url-pattern>/fsortServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>hallServlet</servlet-name>
  	<url-pattern>/hallServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>salaServlet</servlet-name>
  	<url-pattern>/salaServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>userinfoServlet</servlet-name>
  	<url-pattern>/userinfoServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>profit</servlet-name>
  <url-pattern>/profit</url-pattern>
  </servlet-mapping>
  

  
</web-app>